ATMConsole/Service References/ATMServiceReference/ATMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ATMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64108/ATMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64108/ATMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64108/ATMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATMService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IATMService_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:Balance" />
  </wsdl:message>
  <wsdl:message name="IATMService_Balance_OutputMessage">
    <wsdl:part name="parameters" element="tns:BalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IATMService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IATMService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="IATMService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IATMService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IATMService_LoadAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccounts" />
  </wsdl:message>
  <wsdl:message name="IATMService_LoadAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IATMService">
    <wsdl:operation name="Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMService/Balance" message="tns:IATMService_Balance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMService/BalanceResponse" message="tns:IATMService_Balance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMService/Deposit" message="tns:IATMService_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMService/DepositResponse" message="tns:IATMService_Deposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMService/Withdraw" message="tns:IATMService_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMService/WithdrawResponse" message="tns:IATMService_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMService/LoadAccounts" message="tns:IATMService_LoadAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMService/LoadAccountsResponse" message="tns:IATMService_LoadAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IATMService" type="tns:IATMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Balance">
      <soap:operation soapAction="http://tempuri.org/IATMService/Balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IATMService/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IATMService/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAccounts">
      <soap:operation soapAction="http://tempuri.org/IATMService/LoadAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ATMService">
    <wsdl:port name="BasicHttpBinding_IATMService" binding="tns:BasicHttpBinding_IATMService">
      <soap:address location="http://localhost:64108/ATMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>